

<div class="featured-collection-slider page-width">
{% if section.settings.title != blank %}
    <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
    </div>
{% endif %}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.product_limit -%}

    <div class="products-carousel js-flickity wide-visible-only" data-flickity =  '{"freeScroll": true, "groupCells": true, "groupCells": 2, "wrapAround": true}'>
        {% for product in collection.products limit: product_limit %}
            <div class="carousel-cell">
                <a class="Xddriki" href="{{ product.url | within: collection }}">
                    <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}">
                    <h4 class="wide_h4s">{{ product.title }}</h4>
                    <p class="wide_ps">{{ product.price | money }}</p>
                </a>
            </div>
        {% endfor %}   
    </div>
    <div class="products-carousel js-flickity mobile-visible-only" data-flickity =  '{"freeScroll": true, "wrapAround": true}'>
        {% assign products_per_row = 1 %}
        {% assign rows = 2 %}
        {% assign products_in_set = products_per_row | times: rows %}
        
        <div class="carousel-cell">
            <div class="product-row">
            {% for product in collection.products %}
                <div class="product-cell">
                    <a class="Xddriki" href="{{ product.url | within: collection }}">
                        <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}">
                        <h4 class="mobile_h4s">{{ product.title }}</h4>
                        <p class="mobile_ps">{{ product.price | money }}</p>
                    </a>
                </div>
        
                {% assign product_count = forloop.index | modulo: products_in_set %}
                {% if product_count == 0 %}
                    </div></div>
                    {% unless forloop.last %}
                        <div class="carousel-cell">
                            <div class="product-row">
                    {% endunless %}
                {% elsif product_count == products_per_row %}
                    </div><div class="product-row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
.products-carousel .img-explore{
    {% if section.settings.products_per == 2 or section.settings.products_per == 3 %}width: 100%; padding: 15px!important;{% endif %}    
    margin-left: 10px!important;
    padding: 5px;
}
.products-carousel .flickity-slider{
    left: -2%!important;
    {% if section.settings.products_per == 3 %} left: -18%!important;{% endif %}
}
.products-carousel .flickity-viewport{
    width: 95%;
    {% if section.settings.products_per == 2 %}height: 40vw!important;{% endif %}
    {% if section.settings.products_per == 3 %}height: 26vw!important;{% endif %}
    margin: 0 auto;
}
.products-carousel .flickity-prev-next-button{
    background: transparent!important;
    opacity: 1!important;
}

.Xddriki h4,
.Xddriki p{
    margin-left: 15px;
    display: flex;
    justify-content: center;
}
.carousel-cell{
    margin-left: 5px;
    margin-right: 5px;
    {% if section.settings.products_per == 2 %} width:50%!important;{% endif %} {% if section.settings.products_per == 3 %} width:33.33%!important;{% endif %}{% if section.settings.products_per == 4 %} width:25%!important;{% endif %}
     {% if section.settings.products_per == 2 or section.settings.products_per == 3 %} height:95%!important;{% endif %}
}
.wide-visible-only{
    display:block;
}
.mobile-visible-only{
    display: none;
}

.wide_h4s{
    font-size: 13px!important;
    font-weight: 600!important;
    letter-spacing: 1px!important;
    padding: 7px 0!important;
}
.wide_ps{
    font-size: 14px;
    color: black;
}


@media (max-width: 800px) {
    .wide-visible-only{
        display:none;
    }
    .mobile-visible-only{
        display: block;
    }
    .products-carousel .flickity-viewport{
        height: 100vw!important;
        width: 100%;
        {% if section.settings.products_per == 3 %}width: 92%;{% endif %}
    }
    .products-carousel .flickity-slider{
        left: -26.2%!important;
    }
    .carousel-cell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        height: inherit;
    }
    .products-carousel .img-explore {
        max-height: 24.7vw!important;
        margin-left: 0!important;
        width: 40vw;
        {% if section.settings.products_per == 3 %}width: 32vw;{% endif %}
        padding: 0!important;
        margin-bottom: 5%;
    }
    .mobile_h4s{
        font-size: 13px!important;
        letter-spacing: 1px!important;
        padding: 0px 0!important;
        text-transform: uppercase!important;
        font-weight: 300!important;
    }
    .mobile_ps{
        color: black!important;
        font-weight: 300!important;
        font-size: 13px!important;
    }
}
  
</style>
  
  {% schema %}
  {
    "name": "Custom Section",
    "class": "shopify-section--custom-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "New Collection"
      },
      {
        "type": "checkbox",
        "id": "collection_description",
        "label": "Show description",
        "default": true
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products_per",
        "label": "Products per row",
        "min": 2,
        "max": 7,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "products_limit",
        "label": "Limit products",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 9
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "presets": [
      {
        "name": "Custom Section",
        "category": "Collection"
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search"
    ]
  }
  
  {% endschema %}