<div class="new-custom-section">
  <div class="bg-image">
    <div class="text-container">
      <h1 class="text_over_Image">{{ section.settings.Content_text }}</h1>
      </div>
    {%
      render 'image-element',
      image: section.settings.image_selector,
      alt: section.settings.image_selector.alt,
      stretch_width: true,
      additional_classes: mobile_crop
    %}

  </div>
</div>
<style>
  #shopify-section-{{ section.id }} .bg-image{
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #shopify-section-{{ section.id }} .image-element__wrap{
    height: 50vw;
  }
  #shopify-section-{{ section.id }} .text_over_Image{
    color: white;
    width: max-content;
    z-index: 999;
    position: absolute;
  }
  #shopify-section-{{ section.id }} .text-container{
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: {{ section.settings.text_alignment }}%;
    top: {{ section.settings.text_alignment2 }}%;
  }
  #shopify-section-{{ section.id }} img{
    height: 100%;
  }

@media (min-width: 490px) and (max-width: 550px){
  #shopify-section-{{ section.id }} .text_over_Image{
    font-size: 16px;
  }
}
@media (max-width: 489px){
  #shopify-section-{{ section.id }} .text_over_Image{
    font-size: 12px;
  }
}
@media (min-width: 551px) and (max-width: 800px){
  #shopify-section-{{ section.id }} .text_over_Image{
    font-size: 20px;
  }
}
@media (min-width: 801px) and (max-width: 950px){
  #shopify-section-{{ section.id }} .text_over_Image{
    font-size: 25px;
  }
}
</style>
{% schema %}
  {
    "name": "Custom Text Over Image",
    "class": "custom-text-over-image",
    "settings": [
      {
        "type": "text",
        "id": "Section-title",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image_selector",
        "label": "Select BG Image"
      },
      {
        "type": "text",
        "id": "Content_text",
        "label": "Content Text"
      },
      {
        "type": "range",
        "id": "text_alignment",
        "label": "Text Position Horizontal",
        "min": -30,
        "max": 30,
        "default": 0
      },
      {
        "type": "range",
        "id": "text_alignment2",
        "label": "Text Position Vertical",
        "min": 5,
        "max": 95,
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Custom Text Over Image",
        "category": "Collection"
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search"
    ]
  }
{% endschema %}